.bookings__list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    margin-top: 1rem;
    width: 40rem;
    max-width: 90%;
}

.bookings__item {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #5101d1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no__bookings {
    margin: 0 auto;
    padding: 0;
    margin-top: 6rem;
    text-align: center;
}